/* 
 --------------------------------------------------------
  burning section styles 
 --------------------------------------------------------
 */
/* Desktop View */
.burning {
  padding-top: 20%;
  background: url("../../images/banners/burn.png") no-repeat center;
  background-size: cover;
  height: 100vh;
}

@media screen and (max-width: 1200px) {
  .burning {
    background: url("../../images/banners/burn.png") center;
    background-size: cover;
  }
}
